.dream
{
position:absolute;
z-index:0;
width:200px;
display:none;
}

#dream1
{
top:10%;
right:10%;

}

#dream2
{
top:10%;
left:10%;
}

#dream3
{
top:84%;
left:10%;
}

#dream4
{
top:84%;
right:10%;
}

div#player
{
position:absolute;
bottom:0%;
}

#player1
{
position:absolute;
height:100%;
width:100%;
}
