#leftCol
{
height:90%;
float:left;
width:21%;
margin:0.5% 0% 0% 0%;
}

#wrapper2
{
height:96%;
float:right;
width:79%;
}

#midCol
{
height:90%;
width:72%;
float:left;
}

.midContent
{
margin:0.5%;
background:#cccccc;
height:20%;
padding: 1%;
}

.bookImg
{
height:70%;
float:left;
width:12%;
margin:1%;
}

.bookChildList
{
margin:0;
list-style-position:inside;
}

#rightCol
{
width:28%;
margin:0.5% 0% 0% 0%;
float:right;
background:#cccccc;
}
