h1, h2
{
text-align:center;
}

span.warning
{
font:18px courier, serif;
color:#ffffff;
display:none;
}

div#leftCol
{
width:40%;
height:99.5%;
float:left;
margin:0.5% 0% 0% 3%;
background:#666666;
}

#forms
{
width:90%;
height:70%;
padding:3%;
overflow:auto;
}

input
{
width:50%;
margin:0% 0% 4% 0%;
}

textarea
{
width:75%;
height:20%;
}

#input3
{
width:15%;
}

#input4
{
float:left;
}

#submit
{
float:right;
width:20%;
}

#lPrevImg
{
height:21%;
width:18%;
margin-left:5%;
}

div#rightCol
{
width:43%;
height:99.5%;
float:right;
margin:0.5% 3% 0% 0%;
background:#cccccc;
overflow:hidden;
}

#rBackgrImg
{
height:100%;
width:100%;
}

#rightCol p
{
font-weight:bold;
}

div#rHeader
{
width:20%;
position:absolute;
top:5%;
right:20%;
}

div#rNote
{
position:absolute;
height:50%;
width:25%;
top:10%;
overflow:hidden;
}

#rPrevImg
{
position:absolute;
bottom:5%;
right:32%;
height:30%;
width:12%;
}

div#nameSurnAge
{
position:absolute;
bottom:5%;
right:12%;
height:10%;
width:18%;
overflow:hidden;
}

#nameSurnAge p
{
font:14px arial, sans-serif;
font-weight:bold;
}
