/* head menus */

.menus
{
display:none;
position:absolute; /* multi-tab deformaciju del, skat fix pos+multi-tab*/
top:0.5%;
height:3%;
width:2%;
z-index:2;
}

#menu
{
left:0.5%;
}

#home
{
left:97%;
cursor:pointer;
}

#submenu
{
display:none;
position:absolute;
width:20%;
height:70%;
display:none;
z-index:2;
}

.smImg
{
display:block;
width:100%;
cursor:pointer;
}

#smTop
{height:12%;
display:block;
width:100%;
}

#smWin
{height:15%;}

#smPc
{height:12%;}

#smPhotos
{height:12%;}

#smNote
{height:13%;}

#smBook
{height:12%;}

#smBed
{height:12%;}

#smBottom
{height:12%;
display:block;
width:100%;}

/* tree menus */

.treeMenu
{
display:none;
margin:5px;
}

.treeMenuBody
{
display:none;
}

.treeMenuBody ul
{
margin:0;
}

.cross
{
float:left;
margin:5px;
}

#footWrap
{
position:absolute;
height:3%;
width:15%;
bottom:0%;
right:0%;
margin:0;
}

#footLeft
{
height:100%;
float:left;
display:none;
}

h6
{
font:10px arial, sans-serif;
text-align:center;
color:#ffffff;
margin:0;
}

#footRight
{
height:100%;
width:20%;
float:right;
background:#996699;
}
