.imgMapWin
{
position:absolute;
cursor:pointer;
}

#joker
{
top:13%;
left:16%;
height:20%;
width:10%;
}

#jack
{
top:16%;
left:51%;
height:15%;
width:9%;
}

#towers
{
top:39%;
left:9%;
height:8%;
width:12%;
}

#jim
{
top:40%;
left:29%;
height:8%;
width:14%;
}

#piik
{
top:39%;
left:61%;
height:9%;
width:10%;
}

#piik2
{
top:60%;
left:0%;
height:11%;
width:13%;
}

#note
{
top:53%;
left:36%;
height:34%;
width:36%;
}

#shower
{
top:57%;
left:81%;
height:14%;
width:12%;
}
