#cupMap
{
position:absolute;
top:76%;
left:46%;
height:1%;
width:7%;
z-index:0;
}

.gulls
{
position:absolute;
height:3%;
width:3%;
z-index:1;
}

#gull0
{
top:10%;
left:23%;
}

#gull1
{
top:5%;
left:23%;
}

#gull2
{
top:15%;
left:23%;
}

